/*Mengatur gaya dan tampilan pada navbar*/
.navbar{
    width: 100%;
    background-color:aqua;
    color: black;
    position: fixed;
    padding: 10px;
    top: 0;
    border: black 1px solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Mengatur gaya dan tampilan pada tombol hitung dan reset*/
button{
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration-line: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Mengatur gaya dan tampilan pada gambar persegi*/
.img{
 width: 200px;
 margin-top: 20px; 
 height: auto;
}

/*Mengatur gaya dan tampilan pada label*/
.label{
    width :100%;
    padding: 10px 12px;
    margin: 10px 0;
    display: inline-block;
    box-sizing:border-box;
    border: 1px solid rgb(238, 229, 229);
    border-radius: 4px;
    background-color:rgb(217, 217, 233);
    

}

/*Mengatur gaya dan tampilan pada kotak form*/
.kotak{
    text-align: left;
    width: 500px;
    height: auto;
    margin: 200px auto 100px auto;
    padding: 40px;
    background-color:aqua ; 
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: 1px solid black;
}